<div id="contact">
  <div class="copy">
    <p >&copy 2023 NASSOUR LAB</p>
  </div>
  <div class="logos">
  
  

      <a class="footer"
      onclick="window.open ('https://www.youtube.com/@CUAnschutz', ''); return false"
      href="javascript:void(0);"
      >  
      <img class="loc" src="https://i.imgur.com/eHwpyEj.png"
    /></a>


   



    <a class="footer" href="mailto: nassour.joe@gmail.com" target="_blank"
      ><img class="mail" src="https://i.imgur.com/kArmtgH.png"
    /></a>


    <a class="footer"
    onclick="window.open ('https://twitter.com/NassourJoe', ''); return false"
    href="javascript:void(0);"
    >  
      <img class="twitter" src="https://i.imgur.com/alOmrGh.png" alt=""
    /></a>
  </div>
</div>
