<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/gIkbGM0.png">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Nassour Lab</title>
    <meta name="description" content = "The Nassour Lab focuses on understanding how telomere shortening during replicative aging prevents cell immortalization and restricts cancer development." />
  </head>
  <div id="container">
    <section class="main">
      <img class="nlab-logo" src ="https://i.imgur.com/LSzCMnS.png"/>
      <nav class="head_navbar">
        
        <a class="mainlink" href="#home">Home</a>
        <a href="/team">Team</a>
        <a href="/research">Research</a>
        <a href="/publications">Publications</a>
        <a href="/philosophy">Philosophy</a>
        <a href="/contact">Contact</a>
      </nav>

      <div class="philo-title"><h1 class="h1-title">NASSOUR LAB</h1></div>
  
        <div class="philo_main">
          <p class="philo">TELOMERE FUNCTIONS IN AGING AND CANCER</p>
        </div>
        <div id="video_motto_div" >
          <video class="research-video" autoplay muted loop playsinline poster="placeholder.png">
            <source src="https://i.imgur.com/qazezeu.mp4" type=video/mp4>
          </video>
        </div>
    </section>

    <script>
      $(document).ready(function() {
        // Add smooth scrolling to all links
        $("a").on("click", function(event) {
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $("html, body").animate(
              {
                scrollTop: $(hash).offset().top
              },
              800,
              function() {
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              }
            );
          } // End if
        });
      });
    </script>

    <section class="main2" id="home">
      <h2 class="about-title">ABOUT</h2>
      <p class="about1">
        Cancer emerges due to genetic and epigenetic changes that accumulate in
        somatic cells, allowing them to evade normal proliferation limits and
        attain immortality. Our laboratory studies various aspects of telomere
        biology, with a specific focus on understanding how the shortening of
        telomeres during replicative aging creates barriers to cell
        proliferation and restricts the development of cancer.
      </p>
      <p class="about3">
        Our research entails a combination of advanced techniques in cell
        biology, molecular biology, and single-cell multiomics to explore the
        interplay between telomere function, innate immune signaling, and
        autophagy, and how these pathways work together to suppress the early
        stages of tumor development. Our overarching goal is to deepen our
        understanding of cancer biology and develop innovative strategies to
        combat this disease.
      </p>
      <ul class="about2">
        Currently, we are working on these aspects of telomere biology:
        <li>Proliferative barriers and cell immortalization</li>
        <li>
          Crosstalk between telomeres, mitochondria, and innate immune signaling
        </li>
        <li>Autophagy and genomic consequences of telomere dysfunction</li>
        <li>
          Autophagy and telomere-driven cell death
        </li>
    
      </ul>

      <p class="about3">
        We strive to create a supportive, diverse, and inclusive laboratory
        environment with exceptional training and career development
        opportunities for fellows and students. We encourage you to explore our
        website and contact us for discussions, collaborations, or career
        opportunities.
      </p>
  
      <div class="fund-div">
        <img class="fund1" src="https://i.imgur.com/dWzGA25.png" />
       
      
      </div>
      
    </section>
    <%- include('./partials/footer') %>
  </div>
</html>
