<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/gIkbGM0.png">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Nassour Lab</title>
    <meta name="description" content = "The Nassour Lab focuses on understanding how telomere shortening during replicative aging prevents cell immortalization and restricts cancer development." />
  </head>
  <div id="container">
    <section class="main">
      <img class="nlab-logo" src ="https://i.imgur.com/LSzCMnS.png"/>
      <nav class="head_navbar">
        
        <a class="mainlink" href="#home">Home</a>
        <a href="/team">Team</a>
        <a href="/research">Research</a>
        <a href="/publications">Publications</a>
        <a href="/philosophy">Philosophy</a>
        <a href="/contact">Contact</a>
      </nav>

      <div class="philo-title"><h1 class="h1-title">NASSOUR LAB</h1></div>
  
        <div class="philo_main">
          <p class="philo">TELOMERE FUNCTIONS IN AGING AND CANCER</p>
        </div>
        <div id="video_motto_div" >
          <video class="research-video" autoplay muted loop playsinline poster="placeholder.png" >
            <source src="https://i.imgur.com/qazezeu.mp4" type=video/mp4>
          </video>
        </div>
    </section>

    <script>
      $(document).ready(function() {
        // Add smooth scrolling to all links
        $("a").on("click", function(event) {
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $("html, body").animate(
              {
                scrollTop: $(hash).offset().top
              },
              800,
              function() {
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              }
            );
          } // End if
        });
      });
    </script>

    <section class="main2" id="home">
      <h2 class="about-title">ABOUT</h2>
      <p class="about1">
        Cancer develops through the gradual accumulation of genetic and epigenetic alterations that enable normal cells to acquire malignant traits. Our lab studies cancer cell biology at the intersection of telomere biology, DNA repair, and innate immunity, focusing on how these interconnected processes influence cancer initiation.</p>
      
        <p class="about3">
          Telomeres are nucleoprotein complexes that cap the ends of chromosomes, preventing them from being misrecognized as DNA breaks. Loss of telomere protection is a hallmark of aging and a major driver of genomic instability in cancer. When telomeres become dysfunctional, chromosome ends undergo breakage–fusion–bridge (BFB) cycles, generating widespread genomic instability and laying the groundwork for tumor initiation. Our research focuses on how telomeres suppress DNA damage signaling and prevent inappropriate double-strand break repair at chromosome ends. We also study how telomere dysfunction drives genomic chaos, activates innate immune responses, and shapes the evolutionary paths of early-stage cancers.
        </p>
 
      <p class="about3">
        We are committed to fostering a supportive, inclusive, and diverse lab culture. We offer exceptional training and career development opportunities for students and fellows. We invite you to explore our website and connect with us to learn more about our research, potential collaborations, or opportunities to join the lab.   </p>
  
      <div class="fund-div">
        <img class="fund1" src="https://i.imgur.com/ogMxRHA.png" />
       
      
      </div>
      
    </section>
    <%- include('./partials/footer') %>
  </div>
</html>
