<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/gIkbGM0.png">
    <title>Nassour Lab</title>
    <meta name="description" content = "The Nassour Lab focuses on understanding how telomere shortening during replicative aging hinders cell proliferation and limits cancer development." />
 
  </head>
  <div id="container">
    <section class="main">
      <img class="nlab-logo" src ="https://i.imgur.com/LSzCMnS.png"/>
      <nav class="head_navbar">
        <a href="/home">Home</a>
        <a href="/team">Team</a>
        <a href="/research">Research</a>
        <a href="/publications">Publications</a>
        <a class="mainlink" href="/philosophy">Philosophy</a>
        <a href="/contact">Contact</a>
      </nav>

      <div class = "philo-title"><h1 class="h1-title">PHILOSOPHY</h1></div>
      <div class="philo_main">
        <p class="philo">
          Our lab strives to make a positive impact on humanity by addressing
          important issues with bold and innovative thinking. We prioritize high
          ethical and inclusive standards and value diverse backgrounds,
          approaches, and thoughts.
        </p>
      </div>

      <div id="video_motto_div" class="grid1">
        <video class="research-video" autoplay muted loop>
          <source src="https://i.imgur.com/0okHBq1.mp4" type=video/mp4>
        </video>
      </div>
    </section>

    <section class="main2-philo">
      <h3 class="exp">Expectations of Postdocs</h3>
      <p class="philo-exp">
        At our lab, we value a supportive and collaborative environment, where
        postdoctoral colleagues are encouraged to build strong relationships
        with their team members. We look for individuals who possess inquisitive
        minds and critical thinking skills, who are not afraid to tackle complex
        questions, and who are ambitious yet humble enough to take pride in the
        success of others. We seek postdocs who are communicative and eager to
        learn the skills that are essential to succeed in the scientific
        community, while also sharing their own expertise with the lab. Although
        postdocs will have their own projects, they are expected to support one
        another in their research endeavors, attending scientific conferences,
        giving presentations, and openly communicating their concerns and asking
        for guidance when needed.
      </p>

      <h3 class="exp">Expectations of Graduate Students</h3>
      <p class="philo-exp">
        We seek graduate students who are passionate about exploring new areas
        of science and approach our lab with an open mind. We value an eagerness
        to learn from both successful and unsuccessful experiments, as we
        believe that failures can be just as informative as successes. Graduate
        students will be responsible for their own research projects, with
        support and guidance from postdoctoral colleagues. We encourage students
        to attend scientific conferences and develop their presentation skills
        at all levels. Asking questions and seeking guidance is an essential
        aspect of scientific training. We expect graduate students to
        communicate their concerns openly and ask for help when needed, as this
        is a key to achieving success in our lab.
      </p>

      <h3 class="exp">Expectations of PI</h3>
      <p class="philo-exp">
        As your supervisor, I am committed to supporting your career growth and
        development from the moment you consider joining our lab, throughout
        your tenure, and even after you leave to pursue new opportunities. I
        value open communication and appreciate feedback, as it helps me to
        continually improve my role as a PI. My door is always open, and I am
        available to provide guidance and support whenever you need it. However,
        I also expect you to communicate with me when you require my input. I
        prioritize the well-being of all members of my laboratory, and I am
        committed to supporting your personal and professional growth. Please
        know that I am invested in your success, and I will work with you to
        help you achieve your goals. 
      </p>
    </section>
    <%- include('./partials/footer') %>
  </div>
</html>
