<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
<div   id="container">
  <section class="main">
    <nav class="head_navbar">
      <a href="/home">Home</a>
      <a href="/team">Team</a>
      <a href="/research">Research</a>
      <a class="mainlink" href="/publications">Publications</a>
      <a href="/philosophy">Philosophy</a>
      <a href="/contact">Contact</a>
    </nav>

    <div class="philo-title"><h1 class="h1-title">PUBLICATIONS</h1></div>
    <div id="video_motto_div" class="grid1">
      <video class="research-video" autoplay muted loop>
        <source src="https://i.imgur.com/oApk8Sz.mp4" type=video/mp4>
      </video>
    </div>
  </section>

  
    <section class="main2">


      
    </section>
    <%- include('./partials/footer') %>
  </div>
</html>
