<!DOCTYPE html>
<html lang="en" id="research-page">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap"
      rel="stylesheet"
    />
    <script defer src="research.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>

  <section id="research-page">
    <div class="head_div">
      <h1 class="nav-title">Nassour Lab</h1>
      <nav class="head_navbar">
        <a href="/home">Home</a>
        <a href="/team">Team</a>
        <a class="mainlink" href="/research">Research</a>
        <a href="/publications">Publications</a>
        <a href="/contact">Contact</a>
      </nav>
    </div>

    <div class="research-div">
      <h1 class="research-title" id="r1">
        TELOMERE DYNAMICS AND PROLIFERATIVE BARRIERS
      </h1>
      <p class="research-p" id="d1">
        Telomere shortening in human somatic cells functions as a tumor
        suppressor mechanism by establishing two distinct barriers to
        proliferation: senescence [mortality stage 1 (M1)] and crisis [mortality
        stage 2 (M2)]. Senescence is a state of permanent cell cycle arrest that
        occurs in response to telomere deprotection and activation of the tumor
        suppressor pathways p53/Rb. If cell-cycle checkpoints are weakened,
        cells can bypass senescence and continue to proliferate, leading to
        further telomere shortening. Ultimately, cells will enter a terminal
        phase known as replicative crisis, in which critically short telomeres
        undergo end-to-end fusions that trigger cell death via autophagy and
        type I interferon (IFN) activities. Our research focuses on exploring
        the underlying biology of telomere-dependent proliferative barriers and
        how they prevent the development of cancer. We aim to employ single-cell
        methodologies to elucidate the molecular characteristics of senescence
        and crisis cells, define their molecular identity, and identify
        potential biomarkers to enable the detection and tracking of naturally
        occurring senescent and crisis cells in precancerous lesions.
      </p>
    </div>
    <div class="research-div">
      <h1 class="research-title" id="r2">
        ESCAPE FROM REPLICATIVE CRISIS AND IMMORTALIZATION
      </h1>
      <p class="research-p" id="d2">
        Replicative crisis serves as a potent tumor suppressor program that
        eliminates cells that have lost the tumor suppressor pathways and
        bypassed senescence. Rare cells, however, acquire driver mutations
        allowing them to escape crisis and evolve into a neoplastic state. Such
        post-crisis cells harbor characteristics of malignant transformation,
        including an unstable genome, loss of checkpoint control, and
        upregulated telomere maintenance. We aim to understand the mechanisms
        that enable normal cells to escape crisis, acquire immortality, and
        progress to a cancerous state. By analyzing the temporal sequence of
        alterations that occur during the escape from crisis, we hope to
        identify the earliest events in tumor evolution and gain a comprehensive
        understanding of tumorigenesis.
      </p>
    </div>
    <div class="research-div">
      <h1 class="research-title" id="r3">AUTOPHAGY AND CELL DEATH</h1>
      <p class="research-p" id="d3">
        Our recent studies have pointed to autophagy-dependent cell death as an
        integral aspect of crisis and suggested that loss of autophagy function
        is required for cancer initiation. Our research will focus on the
        mechanisms underlying cell death during replicative crisis, the
        mechanism of how autophagy is activated and regulated in response to
        replicative crisis, and how inhibition of autophagy during crisis
        enables cells with an unstable genome to escape this final barrier
        against tumor cell establishment. This research illustrates a powerful
        approach to uncover the central mechanisms that control how autophagy
        regulates premalignant cell fate and will help create a framework for
        applying these ideas to improve cancer treatment.
      </p>
    </div>
    <div id="res-footer">
      <div class="logos">
        <p class="footer">nassour.joe@gmail.com</p>
        <img class="cu" src="https://i.imgur.com/wklPWMY.png" />
        <a href="https://twitter.com/NassourJoe"
          ><img class="twitter" src="https://i.imgur.com/gjxesPV.png" alt=""
        /></a>
      </div>
    </div>
  </section>
</html>
