<!DOCTYPE html>
<html lang="en" id="research-screen">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/gIkbGM0.png">
    <meta name="robots" content="noindex">
  </head>
<div id="container">
  <section id="research-overall">
    <img class="nlab-logo" src ="https://i.imgur.com/LSzCMnS.png"/>
    <nav class="head_navbar">
      <a href="/home">Home</a>
      <a href="/team">Team</a>
      <a class="mainlink2" href="/research">Research</a>
      <div class="dropdown">
        <button class="dropbtn">
          <a class="mainlink" href="/research">Research</a>
        </button>
        <div class="dropdown-content">
          <a href="#telomere-dynamics">Proliferative Barriers</a>
          <a href="#telomere-dynamics">Cell Immortalization </a>
          <a href="#telo-mito">Telomere-Mitochondrial Crosstalk </a>
          <a href="#telo-mito">Autophagy and Cell Death</a>
          <a href="#autophagy-gen-int">Autophagy and Genome Integrity</a>
        </div>
      </div>

      <a href="/publications">Publications</a>
      <a href="/philosophy">Philosophy</a>
      <a href="/contact">Contact</a>
    </nav>
    <script>
      $(document).ready(function() {
        $("a").on("click", function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;
            $("html, body").animate(
              {
                scrollTop: $(hash).offset().top
              },
              800,
              function() {
                window.location.hash = hash;
              }
            );
          }
        });
      });
    </script>

    <div class="philo-title"><h1 class="h1-title" >RESEARCH</h1></div>
    <div class="philo_main">
   <p class ="philo" >Our aim is to uncover the intriguing relationship between telomeres, autophagy, and innate immunity, and their collective role in preventing the onset of cancer.</p>
  </div> 
   <div id="video_motto_div" class="grid1">
      <div class="video-repeat">
        <video class="video1" autoplay muted loop poster="placeholder.png">
          <source src="https://i.imgur.com/fw1b7AW.mp4" type=video/mp4>
        </video>
      </div>
    </div>
  </section>
  <section id="research-page">
    <section id="telomere-dynamics">
      <div class="research-div">
        <div>
          <h1 class="research-title" id="r1">
            TELOMERE DYNAMICS AND PROLIFERATIVE BARRIERS
          </h1>
          <p class="research-p">
            Telomere shortening in human somatic cells functions as a tumor
            suppressor mechanism by establishing two distinct barriers to
            proliferation: senescence [mortality stage 1 (M1)] and crisis
            [mortality stage 2 (M2)]. Our research focuses on exploring the
            underlying biology of telomere-dependent proliferative barriers and
            how they prevent the development of cancer. We aim to elucidate the
            molecular characteristics of senescence and crisis cells, define
            their molecular identity, and identify potential biomarkers to
            enable the detection and tracking of naturally occurring senescent
            and crisis cells in precancerous lesions.
          </p>
        </div>
        <img class="research-image" src="https://i.imgur.com/cvzx0O7.png" />
      </div>
      <div class="research-div">
        <img class="research-image" src="https://i.imgur.com/IlFfHEW.png" />
        <div class="res2">
          <h1 class="research-title">
            ESCAPE FROM CRISIS AND IMMORTALIZATION
          </h1>
          <p class="research-p">
            Replicative crisis serves as a potent tumor suppressor program that
            eliminates cells that have lost the tumor suppressor pathways and
            bypassed senescence. Rare cells, however, acquire driver mutations
            allowing them to escape crisis and evolve into a neoplastic state.
            Such post-crisis cells harbor characteristics of malignant
            transformation, including an unstable genome, loss of checkpoint
            control, and upregulated telomere maintenance. Our lab focuses on
            understanding the mechanisms that enable normal cells to escape
            crisis, acquire immortality, and progress into a cancerous state.
          </p>
        </div>
      </div>
    </section>

    <section id="telo-mito">
      <div class="research-div">
        <div>
          <h1 class="research-title" id="r3">
            TELOMERE-MITOCHONDRIAL CROSSTALK AND INNATE IMMUNITY
          </h1>
          <p class="research-p" id="d3">
            Our recent study has revealed a novel pathway involving the activation of ZBP1 innate immune sensor by lncRNA TERRA, synthesized from damaged telomeres. This binding leads to ZBP1 relocating to the mitochondrial outer membranes and triggering a lethal immune response. However, we still lack a comprehensive understanding of the molecular mechanisms underlying this innate immune response and the functional relationship between telomeres and innate immune pathways. Our lab's current focus is on identifying new sensing pathways that can relay telomere stress to mitochondria. We also aim to investigate whether the loss of these pathways can result in favorable cell phenotypes during the process of malignant progression.</p>
        </div>

        <img class="research-image" src="https://i.imgur.com/SzI5pyt.png" />
      </div>
      <div class="research-div">
        <img class="research-image" src="https://i.imgur.com/4fNjfy1.png" />
        <div class="res2">
          <h1 class="research-title" id="r2">
            AUTOPHAGY AND CELL DEATH
          </h1>
          <p class="research-p" id="d2">
            Our recent studies have pointed to autophagy-dependent cell death as
            an integral aspect of crisis and suggested that loss of autophagy
            function is required for cancer initiation. Our research focuses on
            the mechanisms underlying cell death during replicative crisis, the
            mechanism of how autophagy is activated and regulated in response to
            replicative crisis, and how inhibition of autophagy during crisis
            enables cells with an unstable genome to escape this final barrier
            against tumor cell establishment. This research illustrates a
            powerful approach to uncover the central mechanisms of how autophagy
            regulates premalignant cell fate.
          </p>
        </div>
      </div>
    </section>

    <section id="autophagy-gen-int">
      <div class="research-div">
        <div>
          <h1 class="research-title" id="r3">
            AUTOPHAGY AND GENOME INTEGRITY
          </h1>
          <p class="research-p" id="d3">
            Micronuclei (MN) are small nuclear structures that result from mitotic errors or chromosome breakages, and they represent a significant source of genomic instability. The chromosomes contained within micronuclei are particularly vulnerable to massive DNA fragmentation, which occurs upon nuclear envelope rupture and DNA exposure to the cytoplasm. The resulting DNA fragments can either reassemble to form new derivative chromosomes containing multiple rearrangements (chromothripsis) or self-ligate into circular DNA structures called double minutes (DMs). Our previous research has shown that dysfunctional telomeres are capable of generating MN with fragile nuclear envelopes. To further explore this phenomenon, we are now investigating the role of autophagy in the clearance of MN and the resulting consequences on chromothripsis and other types of genomic alterations. By studying these processes, we aim to provide mechanistic insights into a previously unexplored role for autophagy in maintaining genome integrity and stability.
          </p>
        </div>

        <img class="research-image" src="https://i.imgur.com/xNBLutw.jpg" />
      </div>
    </section>
  </section>
  <%- include('./partials/footer') %>
</div>
</html>
