<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/gIkbGM0.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="robots" content="noindex">
  </head>
  <div id="container">
  <section class="main">
    <img class="nlab-logo" src ="https://i.imgur.com/LSzCMnS.png"/>
    <nav class="head_navbar">
      <a href="/home">Home</a>
      <a class="mainlink" href="/team">Team</a>
      <a href="/research">Research</a>
      <a href="/publications">Publications</a>
      <a href="/philosophy">Philosophy</a>
      <a href="/contact">Contact</a>
    </nav>

    <div class="philo-title"><h1 class="h1-title">TEAM</h1></div>
    <div class="philo_main">

      <p class="philo">

        Join our team to work on creative projects focused on telomere biology, autophagy, and innate immune signaling.
      </p>
    </div>



   
    <div id="video_motto_div" class="grid1">
      <video class="team-video" autoplay muted loop poster="placeholder.png" >
        <source src="https://i.imgur.com/sPACqEK.mp4" type=video/mp4>
      </video>
    </div>
  </section>
  <section class="team-main">
    <body>
     
      <div class = "team-pg">

        <div class="member1">
          <div class="m1-div">

            <img class="member_pic1" src="https://i.imgur.com/TfiGQeO.png" />
            
            </div>
            <div class="member-container">

            <h1 class="member-name">Joe Nassour, PhD</h1>
            <h2 class = "member-name2">Principle Investigator</h2>
            <p class="team_desc">
         <b> PhD: </b>Pasteur Institute - University of Lille, France <br>
             <b>Postdoc:</b>   Salk Institute for Biological Studies, CA, US <br>
            <b> Research interests:</b> Telomere functions in aging and cancer<br>
            <b> Other interests: </b>Hiking, camping, and exploring new breweries
           

            </p> 
            </div>
          </div>

          <div class="member1">
            <div class="m1-div">
  
              <img class="member_pic1" src="https://i.imgur.com/plB4izT.png" />
              
              </div>
              <div class="member-container">
  
              <h1 class="member-name">Abigail Gillespie, PhD  </h1>
              <h2 class = "member-name2">Postdoctoral Fellow</h2>
              <p class="team_desc">
                <b>PhD: </b> University of California San Diego, CA, US<br>
<b>Research interests:</b> DNA damage signaling pathways at telomeres and replicative aging <br>
<b>Other interests:</b> Science outreach, running, reading, and going to the farmers' market
              </p> </div>
            </div>
            <div class="member1">
              <div class="m1-div">
    
                <img class="member_pic1" src="https://i.imgur.com/ELi4H97.png" />
                
                </div>
                <div class="member-container">
    
                <h1 class="member-name">Rachid Boutoual, PhD  </h1>
                <h2 class = "member-name2">Postdoctoral Fellow</h2>
                <p class="team_desc">
                  <b >PhD: </b>University of Abdelmalek Essaadi, Morocco and the Principe Felipe Research Center, Spain <br>
<b>Postdoc: </b>The Buck Institute for Research on Aging, CA, US <br>
<b>Research interests:</b> Crosstalk between telomeres and mitochondria and innate immunity     <br>
<b>Other interests:</b>    Soccer, hiking, and exploring new places
</p>  </div>
         
    
    
    </body>


  </section>
  <%- include('./partials/footer') %>
  </div>
</html>
