.research-video,  .team-video, .video1 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  /*make these 100 to stretch*/
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 70%;
  background-color: black;
}


.main2 {
  background-color: #C9DCF5;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100vw;
  height: 150%;
  
  font-size: 1.5vw;
  scroll-behavior: smooth;
}
.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  scroll-behavior: smooth;


}
.nlab-logo{
  width:24vh;
  height:6vh;
  margin-top:4vh;
  margin-left:4vh;
}

a {
  color: #C5D0D5;
  padding: 20px;
  font-size: 2.5vh;
  text-decoration: none;
  font-family: "Abel", sans-serif;
}
.head_navbar_contact a{
color: black;
}
a:hover {
  color: #6BA4F2;
}
.mainlink, #mainlink{
  color: #6BA4F2;
}
.cu-head {
  height: 10%;
  width: 6%;
  margin-left: 2em;
  margin-top: 1em;
}
nav {
  background-color: transparent;
  float: right;
  margin-top: 3em;
  font-family: "Abel", sans-serif;
  margin-right: 3em;
  margin-bottom:0;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding-bottom: 1vh;
  font-size: 1.5vh;
  border: none;
  margin:0;
  padding-left:0;
  padding-right:0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 20vh;
  box-shadow: 0px 20vh 20vh 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 50%;
  text-align: center;
  right:-20%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 1vh 1vh;
  text-decoration: none;
  display: block;
  font-size: 1.8vh;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.motto_main {
  position: absolute;
  justify-content: center;
  top: 60%;
  left: 34%;
  font-size: 25px;
  margin-top: 1em;
  animation: fadeIn 5s;
}
#video_motto_div {
  color: #d7e6ec;
  font-family: "Abel", sans-serif;
}

#telomere {
  font-size: 25px;
  margin-right: 0.5em;
  float: left;
  display: inline-block;
}
#telomere2 {
  float: right;
  font-size: 25px;
  display: inline-block;
}

body {
  z-index: -2;
  background-color: black;
}



/*********************/
/*section 2 main page*/




.about1,
.about2,
.about3 {
  background-color: #C9DCF5;
  color: black;
  font-family: "Abel", sans-serif;
  margin-bottom: 2em;
  text-align: justify;
  line-height: 1.5em;
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 0;
}
.about1 {
  padding-top: 1em;
}

.about2 {
  color: #5E90D4;
  background-color: #C9DCF5;
}

.fund1 {
  height: 45%;
  width: 55%;
  left: 50%;
  justify-content: center;
  text-align: center;
  margin-bottom: 10vh;
}
.about-title {
  margin-top:2em;
  color: black;
  font-family: "Abel", sans-serif;
  text-align: center;
}
.fund-div {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #C9DCF5;
}


.fund-title {
  color: black;
  font-family: "Abel", sans-serif;
  text-align: center;
  margin-top:3em;
} 

.fund1{
  margin-left:3em;
  margin-right:3em;

}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/*****************************/
/* team styling*/


.team-video {
  opacity: 90%;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.member_pic1 {

  border-radius: 0%;
    height: 60%;
    width: 70%;
    margin-bottom:0;
    margin-top:5vh;
    display: flex;
   justify-content: center;
  }
.member1{
  margin:auto;
  position: relative;
  width: 30%;
  margin-left:10vh;
}
.m1-div{
 display: flex;
 justify-content: center;
 position:relative;
 overflow: hidden;
}
.pi-div {
  position: absolute;
  justify-content: center;
  top: 5vh;
  bottom: 0;
  height: 100%;
  width: 70%;
  opacity: 0;
  transition: .5s ease;

}

.growing{
  height:30vh;
  width:30vh;
  margin-left: 25%;
  
}
.m1-div:hover .member_pic1 {
  opacity: 60%;
}
.m1-div:hover .pi-div {
  opacity: 1;
}
.pi{
  font-family: "Abel", sans-serif, bold;
  color: black;
  font-size: 3vh;
  position: absolute;
  top: 70%;
  left: 70%;
  text-align: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*.member_pic1:hover {
  opacity: 60%;
  transition:opacity 2s;
}
*/


.member-name{

  width:100%;
  color: black;
  font-family: "Abel", sans-serif;
  margin-bottom: 1vh;
  margin-top: 2vh;
  justify-content: center;
  text-align:center;
  margin-left:0em;
}


.team_desc {
 
  color: black;
  font-family: "Abel", sans-serif;
  margin-bottom: 7vh;
  line-height: 1em;
  font-size: 2.5vh;
 
  margin-top: 0em;
  width:100%;
  text-align:justify;
}

.team-main{
  background-color: #C9DCF5;
}
.team-pg{
  display: flex;
 
}
.join-us{
  width: 40%;
  margin:auto;
  font-family: "Abel", sans-serif;
  color:#5E90D4;
  line-height: 1em;
  font-size: 2.5vh;
  text-align:justify;
  margin-bottom: 10vh;
}
/******************************/
/* research page style */

#research-page {
  background-color: black;
  position: relative;

  display: flex;
  flex-direction: column;
}
.nav-title {
  position: absolute;
  justify-content: center;
  margin: auto;
  font-size: 85px;
  color: white;
  font-family: "Abel", sans-serif;
  background-color: transparent;
  height: auto;
  margin-left: 0.5em;
}

.research-div {
  margin: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.research-image {
  height: 25%;
  width: 25%;
  border-radius: 50%;
}

.research-p {
  font-family: "Abel", sans-serif;
  color: black;
  text-align: justify;
  margin-right: 2em;
}
#res-footer {
  background-color: white;
  justify-content: center;
  font-family: "Abel", sans-serif;
  bottom: 0;
  float: left;
  width: 100%;
}
#research-overall {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  scroll-behavior: smooth;
}
.research-video {
  opacity: 50%;
}
.research-title{
  font-family: "Abel", sans-serif;
}
#res-title {
  left: 35%;
}
.res2 {
  margin-left: 2em;
}
#telomere-dynamics,
#escaping-crisis,
#autophagy-cell-death,
#autophagy-gen-int,
#telo-mito {
  
  background-color: #C9DCF5;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100vw;
  height: 100%;

  font-size: 1.5vw;
  scroll-behavior: smooth;
}

/*******************************/
/*contact styling*/
.main2-philo, .main2-contact {
  background-color: #C9DCF5;
  padding-bottom: 3em;;

  width: 100vw;
  height: 100%;
  font-size: 20px;
  font-size: 1.5vw;
  scroll-behavior: smooth;
}
.help{
  height: 70vh;
  width: 80vh;
  border-radius: 20%
 }
 .name{
  margin-top:2em;
  font-size: 3vh;;
 }
 .name2{
  
  font-size: 2.5vh;
 }
 .name3{

  font-size: 2vh;
  
 }
.main-contact {
  margin:0;
  padding:0;
  background-image: url("https://i.imgur.com/wuRdS8A.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.googlemap {
  height:30%;
  width:40%;
  margin-left: 2em;
 
 
}
.map {
  display: flex;
  margin-top: 10vh;
  margin-right:0;
}

.contact {
  margin: 3em;

  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-body {
  z-index: -2;
  background-color: #C9DCF5;
  margin:0;
  padding:0;
}
.contact-info {
  margin-left: 50px;
  font-family: "Abel", sans-serif;
  display: inline-block;
  margin-top: 20px;
}
.cont-img {
  margin-top: 1vh;
  height: 60%;
  width: 60%;
}

.contact-title {
  margin:auto;
  text-align: center;
  justify-content: center;
  margin-bottom:0;
}
.contact-h1{
  text-align: center;
  justify-content: center;
  margin-top:0;
  padding-top: 20%;
  margin-bottom:0;
  padding-bottom:0;
  font-size: 15vh;
  color: white;
  font-weight: bold;
  font-family: "Tilt Warp", cursive;
  background-color: transparent;
  animation: fadeIn 4s;
}
.email {
  height: 10%;
  width: 10%;
}
.twitter-contact {
  height: 9%;
  width: 9%;
  padding-bottom: 0.15em;
}
.address {
  text-align: center;
}
.contact-pics {
  justify-content: center;
  margin-left: 8em;
}
.contact-1{
  font-size: 2.5vh;
}


/**********************/
/*philosophy*/

.h1-title{
  text-align: center;
  justify-content: center;
  padding-top: 20%;
  margin:auto;
  padding-bottom:0;
  font-size: 15vh;
  color: #6BA4F2;
  font-weight: bold;
  font-family: "Tilt Warp", cursive;
  background-color: transparent;
  animation: fadeIn 4s;
}
@media screen and (max-width:700px){
 
  .h1-title {
   font-size: 9vh;
  }  
 
}
.philo_main {
  color: #C9DCF5;
  margin:auto;
  font-size:3vh;
  width:78%
}
.philo {
  font-family: "Abel", sans-serif;
  text-align: center;
  justify-content: center;
  padding-top:0%;
  margin-top:0;
  animation: fadeIn 5s;
}
.philo-exp {
  background-color: #C9DCF5;
  color: black;
  font-family: "Abel", sans-serif;
  margin-bottom: 2em;
  text-align: justify;
  line-height: 1.2em;
  margin-left: 5em;
  margin-right: 10em;
  margin-bottom: 0;
}
.exp {
  margin-top:10vh;
  color: #6BA4F2;
  background-color: #C9DCF5;
  margin-left: 5em;
  font-family: "Abel", sans-serif;
}
/*****************************/
/*publications*/
.pub-div{
  margin:4em;
  font-family: "Abel", sans-serif;
}
.year{
  color:#6BA4F2;
  font-size: 4vh;
  margin-bottom:0;
  margin-top:6vh;
}
.pub-title{
  font-size: 3vh;
  margin-bottom:1vh;
  font-weight:900;
}
.pub-click{
  margin-top:0;
  padding-top:0;
  color:black;
  text-decoration: none;
}


/*****************************/
/*footer styling*/

.logos {
  display: flex;
  justify-content: right;
  text-align: center;
  margin-top: 0;

  border: solid;
  border-right-color: transparent;
  border-left-color: transparent;
}


.twitter,

.loc,
.mail {
 padding:10px;
  padding-top: 0;
  text-align: center;
  margin-top: 1em;
  margin-left: 0;

}
 .mail{
  margin-top:1.2em;
  height: 4vh;
  width: 4vh;
  filter: opacity(.5) drop-shadow(0 0 0 white)
}
.twitter{
  margin-top:1.2em;
  height:4vh;
  width:4vh;
  filter: opacity(.5) drop-shadow(0 0 0 white)
}
.loc{
  margin-top:1.2em;
  height:4vh;
  width:4vh;
  filter: opacity(.5) drop-shadow(0 0 0 white)
}
.copy{
  display: flex;
  float:left;
  margin-bottom:0;
  padding-bottom:0;
  margin-left: 3vh;
  margin-top:2.7vh;
  text-align:center;
  
 
 }
 .copy p{
  color: #C5D0D5;
  text-align: center;
  justify-content:center;
  margin-bottom:0;
  padding-bottom:0;
  margin-top: 3vh;
  
 }

.footer-chromo{
  height:7vh;
  width:5vh;
  margin-right:2vh;
  
}
.footer {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0.5;
}
body{
  margin:0;
  padding:0;
}

#container {
  position: relative;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#contact {
  background-color: #32373D;

  font-family: "Abel", sans-serif;

  width: 100%;
  margin-top: auto;
}

.cu_head {
  height: 3rem;
  width: 15rem;
  padding-top: 0;
  text-align: center;
  margin-top: 1em;
}
.culogo {
  height: 70%;
  width: 25%;
  margin-top: 0.7em;

  margin-left: 1em;
  display: flex;
  justify-content: left;
}
.cu-div {
  top: 0;
  left: 0;
}
