video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 40%;
  background-color: black;
}
body {
  z-index: -2;
  background-color: black;
}
.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}
.main2 {
  background-color: white;
  margin-bottom: 0;
  padding-bottom: 0;
}

a {
  color: white;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  font-family: "Abel", sans-serif;
}

h1 {
  margin-top: 0;
  padding-top: 0;
  font-size: 75px;
  color: #3ca3d6;
  font-family: "Abel", sans-serif;
  background-color: transparent;
}
nav {
  background-color: transparent;
  float: right;
  margin-top: 3em;
  font-family: "Abel", sans-serif;
}

h2 {
  margin-bottom: 0px;
}

ul.about {
  color: #15d397;
  background-color: white;
}

.about {
  color: black;
  font-family: "Abel", sans-serif;
  margin-bottom: 2em;
  background-color: white;
  line-height: 2em;
  font-size: 20px;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 1em;
  margin-bottom: 0;
}
/*****************************/
/* team styling*/
.member_pic1,
.member_pic2,
.member_pic3 {
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 2em;
}
.members {
  padding: 10em;
}
.team_desc {
  color: white;
  font-family: "Abel", sans-serif;
  margin-bottom: 2em;

  line-height: 2em;
  font-size: 20px;
  margin-left: 5em;
  margin-right: 10em;
  margin-top: 2em;
}
.member1,
.member2,
.member3 {
  display: flex;
}

/*****************************/
/*footer styling*/
.logos {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 0;
  border-bottom-color: blue;
  border-top-color: blue;
  border: solid;
  border-right-color: transparent;
  border-left-color: transparent;
}
.twitter {
  height: 2rem;
  width: 2rem;
  justify-content: space-evenly;
  text-align: center;
}

.footer {
  justify-content: space-evenly;
  text-align: center;
  margin: 1em;
  padding: 1em;
  background-color: white;
}
#contact {
  background-color: white;
  margin-top: 0;
  padding-top: 0;
}
